<div>
    <h2 id="page-heading">
        <span>Biens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bien" [routerLink]="['/bien/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bien
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="biens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span>Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chantier.id"><span>Chantier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="adressechantier.id"><span>Adressechantier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bien of biens ;trackBy: trackId">
                <td><a [routerLink]="['/bien', bien.id, 'view' ]">{{bien.id}}</a></td>
                <td>{{bien.label}}</td>
                <td>{{bien.description}}</td>
                <td>
                    <div *ngIf="bien.chantier">
                        <a [routerLink]="['../chantier', bien.chantier?.id, 'view' ]" >{{bien.chantier?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bien.adressechantier">
                        <a [routerLink]="['../adresse', bien.adressechantier?.id, 'view' ]" >{{bien.adressechantier?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bien', bien.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bien', bien.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="biens && biens.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
