<div>
    <h2 id="page-heading">
        <span>Document Tuiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-tuile" [routerLink]="['/document-tuile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Document Tuile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="documentTuiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span>Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documents.label"><span>Documents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documentTuile of documentTuiles ;trackBy: trackId">
                <td><a [routerLink]="['/document-tuile', documentTuile.id, 'view' ]">{{documentTuile.id}}</a></td>
                <td>
                    <a *ngIf="documentTuile.content" (click)="openFile(documentTuile.contentContentType, documentTuile.content)">
                        <img [src]="'data:' + documentTuile.contentContentType + ';base64,' + documentTuile.content" style="max-height: 30px;" alt="documentTuile image"/>
                    </a>
                    <span *ngIf="documentTuile.content">{{documentTuile.contentContentType}}, {{byteSize(documentTuile.content)}}</span>
                </td>
                <td>
                    <div *ngIf="documentTuile.documents">
                        <a [routerLink]="['../document', documentTuile.documents?.id, 'view' ]" >{{documentTuile.documents?.label}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/document-tuile', documentTuile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document-tuile', documentTuile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'document-tuile/'+ documentTuile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="documentTuiles && documentTuiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
