<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adresse">
            <h2><span>Adresse</span> {{adresse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Numéro d&#39;appartement ou Boîte aux lettres, étage, couloir, escalier">Appartement</span></dt>
                <dd>
                    <span>{{adresse.appartement}}</span>
                </dd>
                <dt><span ngbTooltip="Entrée, batiment, immeuble, résidence, ZI">Entree</span></dt>
                <dd>
                    <span>{{adresse.entree}}</span>
                </dd>
                <dt><span ngbTooltip="Numéro de rue, dont éventuellement le complément bis, ter...">Numero</span></dt>
                <dd>
                    <span>{{adresse.numero}}</span>
                </dd>
                <dt><span ngbTooltip="libellé de la voie">Voie</span></dt>
                <dd>
                    <span>{{adresse.voie}}</span>
                </dd>
                <dt><span ngbTooltip="Complément d&#39;adresse (lieu dit, service particulier de distribution, mention spéciale ou commune géographique)">Complement</span></dt>
                <dd>
                    <span>{{adresse.complement}}</span>
                </dd>
                <dt><span>Codepostal</span></dt>
                <dd>
                    <span>{{adresse.codepostal}}</span>
                </dd>
                <dt><span>Ville</span></dt>
                <dd>
                    <span>{{adresse.ville}}</span>
                </dd>
                <dt><span ngbTooltip="position géographique (latitude)">Latitude</span></dt>
                <dd>
                    <span>{{adresse.latitude}}</span>
                </dd>
                <dt><span ngbTooltip="position géographique (longitude)">Longitude</span></dt>
                <dd>
                    <span>{{adresse.longitude}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adresse', adresse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
