<div>
    <h2 id="page-heading">
        <span>Adresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adresse" [routerLink]="['/adresse/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Adresse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span>Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rue"><span>Rue</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="complement"><span>Complement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codepostal"><span>Codepostal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ville"><span>Ville</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="positionx"><span>Positionx</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="positiony"><span>Positiony</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adresse of adresses ;trackBy: trackId">
                <td><a [routerLink]="['/adresse', adresse.id, 'view' ]">{{adresse.id}}</a></td>
                <td>{{adresse.numero}}</td>
                <td>{{adresse.rue}}</td>
                <td>{{adresse.complement}}</td>
                <td>{{adresse.codepostal}}</td>
                <td>{{adresse.ville}}</td>
                <td>{{adresse.positionx}}</td>
                <td>{{adresse.positiony}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adresse', adresse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adresse', adresse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adresse/'+ adresse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="adresses && adresses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
