<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-chantier-heading">Create or edit a Chantier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!chantier.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="chantier.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_label" ngbTooltip="Nom court du chantier permettant de faciliter les recherches">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="chantier.label" required maxlength="64"/>
                    <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.label?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.label?.errors?.maxlength">
                        This field cannot be longer than 64 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image" ngbTooltip="Photo ou image représentant le chantier">Image</label>
                    <div>
                        <img [src]="'data:' + chantier.imageContentType + ';base64,' + chantier.image" style="max-height: 100px;" *ngIf="chantier.image" alt="chantier image"/>
                        <div *ngIf="chantier.image" class="form-text text-danger clearfix">
                            <span class="pull-left">{{chantier.imageContentType}}, {{byteSize(chantier.image)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, chantier, 'image', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="chantier.image" maxbytes="1024000"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="chantier.imageContentType" />
                    <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.image?.errors?.maxbytes">
                            This field cannot be more than 1024000.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description" ngbTooltip="Description du chantier">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="chantier.description" maxlength="4000"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateDebut" ngbTooltip="Date de lancement du chantier">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="chantier.dateDebut"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateFin" ngbTooltip="Date de fin (prévisionnelle) du chantier">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="chantier.dateFin"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
