<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chantier">
            <h2><span>Chantier</span> {{chantier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Nom court du chantier permettant de faciliter les recherches">Label</span></dt>
                <dd>
                    <span>{{chantier.label}}</span>
                </dd>
                <dt><span ngbTooltip="Photo ou image représentant le chantier">Image</span></dt>
                <dd>
                    <div *ngIf="chantier.image">
                        <a (click)="openFile(chantier.imageContentType, chantier.image)">
                            <img [src]="'data:' + chantier.imageContentType + ';base64,' + chantier.image" style="max-width: 100%;" alt="chantier image"/>
                        </a>
                        {{chantier.imageContentType}}, {{byteSize(chantier.image)}}
                    </div>
                </dd>
                <dt><span ngbTooltip="Description du chantier">Description</span></dt>
                <dd>
                    <span>{{chantier.description}}</span>
                </dd>
                <dt><span ngbTooltip="Date de lancement du chantier">Date Debut</span></dt>
                <dd>
                    <span>{{chantier.dateDebut}}</span>
                </dd>
                <dt><span ngbTooltip="Date de fin (prévisionnelle) du chantier">Date Fin</span></dt>
                <dd>
                    <span>{{chantier.dateFin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chantier', chantier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
