<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-heading">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="contact.label" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="contact.login" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="contact.prenom" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.maxlength">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="contact.nom" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.maxlength">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="contact.email" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telephoneMobile">Telephone Mobile</label>
                    <input type="text" class="form-control" name="telephoneMobile" id="field_telephoneMobile"
                        [(ngModel)]="contact.telephoneMobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telephone2">Telephone 2</label>
                    <input type="text" class="form-control" name="telephone2" id="field_telephone2"
                        [(ngModel)]="contact.telephone2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="contact.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="contact.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_poste">Poste</label>
                    <input type="text" class="form-control" name="poste" id="field_poste"
                        [(ngModel)]="contact.poste" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_corpmetier">Corpmetier</label>
                    <select class="form-control" name="corpmetier" [(ngModel)]="contact.corpmetier" id="field_corpmetier" >
                        <option value="TERRASSEMENT">TERRASSEMENT</option>
                        <option value="GROS_OEUVRE">GROS_OEUVRE</option>
                        <option value="MENUISERIE">MENUISERIE</option>
                        <option value="ELECTRICITE">ELECTRICITE</option>
                        <option value="PLOMBERIE">PLOMBERIE</option>
                        <option value="CHAUFFAGE">CHAUFFAGE</option>
                        <option value="CARRELAGE">CARRELAGE</option>
                        <option value="PLATRE">PLATRE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_adressecontact">Adressecontact</label>
                    <select class="form-control" id="field_adressecontact" name="adressecontact" [(ngModel)]="contact.adressecontact">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id === contact.adressecontact?.id ? contact.adressecontact : adresseOption" *ngFor="let adresseOption of adressecontacts; trackBy: trackAdresseById">{{adresseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
